.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
    margin: 10px;
  
  }
  
  body {
    background-color: #9c8b9a;
    margin: 0;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #060707;
    text-align: center;
  }
  
  p {
    font-size: 2rem;
    color: #030213;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }
  
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
  .btn {
    background: rgb(116, 140, 150);
    font-family: "Indie Flower", cursive;
    border-radius: 7px;
    color: black;
    font-size: 30px;
    padding: 16px 25px 16px 25px;
    text-decoration: none;
  }
  

  .score-sheet {
    margin-top: 20px;
}

table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background: rgb(116, 140, 150);
    color: white;
}